# Problem -

Build a recommender system by using cosine similarities score.

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [12]:
books=pd.read_csv('C:/Users/ancha/Downloads/books.csv',encoding='ISO-8859-1',index_col=0)
books

       User.ID                                         Book.Title  Book.Rating
1       276726                                Classical Mythology            5
2       276729                                       Clara Callan            3
3       276729                               Decision in Normandy            6
4       276736  Flu: The Story of the Great Influenza Pandemic...            8
5       276737                             The Mummies of Urumchi            6
...        ...                                                ...          ...
9996    162121       American Fried: Adventures of a Happy Eater.            7
9997    162121                              Cannibal In Manhattan            9
9998    162121                    How to Flirt: A Practical Guide            7
9999    162121                                           Twilight            8
10000   162129                       Kids Say the Darndest Things            6

[10000 rows x 3 columns]

# EDA

In [62]:
books.rename(columns={'User.ID':'user_id','Book.Title':'book_title','Book.Rating':'book_rating'},inplace= True)
books

       user_id                                         book_title  book_rating
1       276726                                Classical Mythology            5
2       276729                                       Clara Callan            3
3       276729                               Decision in Normandy            6
4       276736  Flu: The Story of the Great Influenza Pandemic...            8
5       276737                             The Mummies of Urumchi            6
...        ...                                                ...          ...
9996    162121       American Fried: Adventures of a Happy Eater.            7
9997    162121                              Cannibal In Manhattan            9
9998    162121                    How to Flirt: A Practical Guide            7
9999    162121                                           Twilight            8
10000   162129                       Kids Say the Darndest Things            6

[10000 rows x 3 columns]

In [13]:
books.shape

(10000, 3)

In [14]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1 to 10000
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User.ID      10000 non-null  int64
 1   Book.Title   10000 non-null  object
 2   Book.Rating  10000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 312.5+ KB

In [17]:
#Unique users
len(books.user_id.unique())

2182

In [18]:
#No. of books
len(books.book_title.unique())

9659

In [75]:
books= books.sort_values('user_id')
books

      user_id                                         book_title  book_rating
2402        8                                              Wings            5
2401        8  The Western way: A practical guide to the West...            5
2400        8                            Ancient Celtic Romances            5
2403        8                                           Truckers            5
2406        8                                  The Art Of Celtia            7
...       ...                                                ...          ...
2397   278854                                Blast From the Past            7
2396   278854      La crÃ³nica del PerÃº (CrÃ³nicas de AmÃ©rica)            7
2399   278854  Celtic Mythology (Library of the World's Myths...            8
2394   278854                         A corrente de Trewis Scott            7
2398   278854     A Treasury of Irish Myth, Legend, and Folklore            6

[10000 rows x 3 columns]

# Pivoting Dataframe

In [76]:
books.columns

Index(['user_id', 'book_title', 'book_rating'], dtype='object')

In [77]:
user_book_df= books.pivot_table(index='user_id', columns='book_title', values='book_rating')
user_book_df

book_title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
user_id,,,,,,,,,,,,,,,,,,,,,
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
278852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
#Imputing Nan's with 0 values
user_book_df.fillna(0,inplace=True)
user_book_df

book_title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
user_id,,,,,,,,,,,,,,,,,,,,,
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278851,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
278852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Cosine Similarity

In [79]:
user_sim= 1-pairwise_distances(user_book_df.values, metric='cosine')
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [80]:
#Store the result in dataframe
user_sim_df= pd.DataFrame(user_sim)
user_book_df.head()

book_title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
user_id,,,,,,,,,,,,,,,,,,,,,
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
user_sim_df.index= books.user_id.unique()
user_sim_df.columns= books.user_id.unique()

user_book_df

book_title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
user_id,,,,,,,,,,,,,,,,,,,,,
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278851,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
278852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [82]:
user_sim_df.iloc[0:20, 0:20]

,8,9,10,12,14,16,17,19,22,26,32,39,42,44,51,53,56,64,67,69
8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
51,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
53,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
64,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
67,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
69,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [83]:
#Fill the diagonal with 0
np.fill_diagonal(user_sim,0)
user_sim_df.iloc[50:75, 50:75]

,178,182,183,185,190,202,212,215,217,221,...,233,242,243,244,247,249,254,256,257,269
178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
182,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
183,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
190,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
202,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
212,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
215,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
217,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
221,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
224,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
228,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
230,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
242,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
243,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
244,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
247,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
256,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
269,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [84]:
#Most similar user
user_sim_df.idxmax(axis=1)

8              8
9              8
10             8
12             8
14             8
           ...
278846         8
278849         8
278851    278202
278852         8
278854         8
Length: 2182, dtype: int64

In [85]:
books[(books['user_id']==278418) | (books['user_id']==19)]

      user_id                                         book_title  book_rating
2418       19                                    The Murder Book            7
1906   278418                                                253            5
1907   278418                                      Brighton Rock            8
1908   278418                                 Irene's Last Waltz            8
1909   278418  Into Thin Air : A Personal Account of the Mt. ...            6
...       ...                                                ...          ...
2018   278418                                          Third Eye            8
2019   278418                                    Criminal Intent            9
2020   278418                          Exiles Trilogy From Earth            5
2021   278418                                             HABIBI            3
2010   278418                   The Cat Who Could Read Backwards            4

[118 rows x 3 columns]

In [86]:
books[(books['user_id']==278206) | (books['user_id']==276850)]

      user_id       book_title  book_rating
115    276850  The Beach House            7
1730   278206  The Beach House            5

In [91]:
# For similar books recommendation

from numpy.lib.npyio import recfromtxt

def recommendations_for_user(user_id):
    print('\n Recommended Books for User_id',(user_id),':\n')
    recom = list(user_sim_df.sort_values([user_id], ascending= False).head().index)
    books_list = []
    for i in recom:
        books_list = books_list + list(books[books['user_id']==i]['book_title'])
    return set(books_list)-set(books[books['user_id']==user_id]['book_title'])

In [95]:
books[books['user_id']==14]

      user_id                            book_title  book_rating
2410       14                                  COPS            5
2411       14  A Cold Heart: An Alex Delaware Novel            5
2412       14                            Dead Sleep            6

In [98]:
recommendations_for_user(19)

 Recommended Books for User_id 19 :

{'253',
 'A Boy Named Phyllis: A Suburban Memoir',
 'A Caribbean Mystery',
 'A Cold Day for Murder',
 "A Cup of Tea (Ballantine Reader's Circle)",
 'A Density of Souls',
 "A Room of One's Own",
 "A Supposedly Fun Thing I'll Never Do Again : Essays and Arguments Tag: Author of Infinite Jest",
 'A Venetian Affair',
 'Absolute Power',
 'Absolute Zero',
 'Acid Row',
 'Afrikanisches Fieber. Erfahrungen aus vierzig Jahren.',
 'Alias Grace',
 'Amazonia',
 'An Instance of the Fingerpost',
 'Ancient Celtic Romances',
 "As the Romans Do: An American Family's Italian Odyssey",
 'BORDERS OF INFINITY',
 "Bad Jobs: My Last Shift at Albert Wong's Pagoda and Other Ugly Tales of the Workplace",
 "Beethoven's Hair : An Extraordinary Historical Odyssey and a Scientific Mystery Solved",
 'Belladonna: A Novel of Revenge',
 'Blood Test',
 'Body of Lies',
 'Born of the Sun',
 'Brighton Rock',
 "Brunelleschi's Dome: How a Renaissance Genius Reinvented Architecture",
 "CAT'S EYE",
 'CHINA WHITE',
 'CRUDDY : An Illustrated Novel',
 'California Rush: A Novel',
 'Captain Underpants and the Attack of the Talking Toilets: Another Epic Novel (Captain Underpants (Paper))',
 'Chicken Soup from the Soul of Hawaii: Stories of Aloha to Create Paradise Wherever You Are',
 'City of Bones',
 'Criminal Intent',
 'Critical Judgment',
 "D. W.'S Color Book",
 'Das Parfum: Die Geschichte Eines Morders',
 'Daydreams',
 "Dr. Atkins' Age-Defying Diet Revolution",
 'Dragondrums',
 'Dragonsinger (Harper Hall Trilogy)',
 'Dragonsong',
 'EVERYTHING SHE EVER WANTED',
 "Emmanuel's Book: A Manual for Living Comfortably in the Cosmos",
 'End of the Road',
 "Ender's Game (Ender Wiggins Saga (Paperback))",
 'Every Breath You Take : A True Story of Obsession, Revenge, and Murder',
 "Everything's Eventual : 14 Dark Tales",
 'Exiles Trilogy From Earth',
 'Falling Towards England',
 'Feel Good Naked',
 'Finding the Right Place at the Right Time; Everything You Need to Know About Retirement Housing',
 "Flying Hawaii : A Pilot's Guide to the Islands",
 "Fortune Is a River : Leonardo Da Vinci and Niccolo Machiavelli's Magnificent Dream to Change the Course of Florentine History",
 "Frommer's 96 Frugal Traveler's Guides: Europe from $50 a Day (Serial)",
 'God-Shaped Hole',
 'HABIBI',
 "He Sees You When You're Sleeping : A Novel",
 'Here on Earth',
 'Hill Towns',
 'Hocus Pocus',
 'Inanna',
 'Inside Corporate America: A Guide for African Americans',
 'Instances of the Number 3',
 'Into Thin Air : A Personal Account of the Mt. Everest Disaster',
 "Irene's Last Waltz",
 'Ishmael: An Adventure of the Mind and Spirit',
 'Jaguars Ripped My Flesh: Adventure Is a Risky Business (Bantam New Fiction Series)',
 'Katwalk (Kat Colorado Mysteries)',
 'Keepers of the Earth Teachers Guide',
 'Leaving Home',
 "Les fantomes, ca n' existe pas. (Lernmaterialien)",
 "Life's Little Instruction Book; Volume II",
 'Lost Girls',
 'Lucky You',
 'Manitous Daughter Indian Heritage 1',
 'Midnight Blue',
 'Modern Women',
 'Mrs. Mike',
 'Night Train to Memphis',
 'On a Street Called Easy, in a Cottage Called Joye',
 'Peeling the Onion (Laurel Leaf Books)',
 'Photoshop 3 for Macintosh (Visual Quickstart Guide)',
 "Pokemon Tales : Where's Clefairy's Voice? (Pokemon Tales)",
 "Pooh's Workout Book",
 'Private Eyes (Alex Delaware Novels (Paperback))',
 'Random Family: Love, Drugs, Trouble, and Coming of Age in the Bronx',
 'Raven (Orphans)',
 'Resist or Serve (The Official Guide to the X-Files, Vol. 4)',
 'Reversible Errors: A Novel',
 'Rhoda : A Life in Stories Tag: Winner of the National Book Award for Fiction',
 'Sangre a Borbotones (Coleccion Nueva Biblioteca)',
 'Secret History',
 'Send in the Stunt Mom: The Second Collection of Committed',
 'Show of Evil',
 'Sis Boom Bah',
 'Skinwalkers (Joe Leaphorn/Jim Chee Novels)',
 'Snow Falling on Cedars',
 'Standing in the Rainbow : A Novel',
 'Starfire (Bantam Spectra)',
 'Suitable for Framing W/the Corpse Had a Familiar Face',
 'Summerland',
 'Switcheroo : A Novel',
 'Sympathy for the Devil',
 'The Anatomist',
 'The Art Of Celtia',
 'The Cat Who Could Read Backwards',
 'The Cat Who Knew Shakespeare',
 "The Cat Who Wasn't There",
 'The Celts Activity Book',
 'The Clue of the Velvet Mask (Nancy Drew (Hardcover))',
 'The Corner : A Year in the Life of an Inner-City Neighborhood',
 'The Girl Who Loved Tom Gordon : A Novel',
 'The Giver (Readers Circle)',
 "The Handmaid's Tale",
 'The Hanged Man',
 'The Icarus Agenda',
 'The Japanese Cult of Tranquillity',
 'The Lost World',
 'The Mad Dog 100 : The Greatest Sports Arguments of All Time',
 'The Mammoth Book of Ghost Stories',
 'The Man Who Mistook His Wife for a Hat: And Other Clinical Tales',
 'The Passion of Artemisia',
 'The Phantom of the Opera (Signet Classics (Paperback))',
 "The Shelters of Stone (Earth's Children Series, No 5)",
 "The Simple Solution to Rubik's Cube",
 'The Skies of Pern',
 'The Sound and the Fury (Vintage International)',
 'The Traveler',
 'The Way We Never Were: American Families and the Nostalgia Trap',
 'The Western way: A practical guide to the Western mystery tradition',
 'The White Puma',
 'The Writers Complete Fantasy Reference: An Indispensable Compendium of Myth and Magic',
 'Third Eye',
 "Tommy's Tale: A Novel",
 'Truckers',
 'Trust Me',
 'Un Milagro Informal',
 "Washington's Dirigible (Timeline Wars/John Barnes, No 2)",
 'When the Bough Breaks',
 'White Oleander : A Novel',
 'Wild Seed',
 'Wild Thorn',
 'Wings',
 'Y2K'}

In [99]:
recommendations_for_user(14)

 Recommended Books for User_id 14 :

{'After All These Years',
 'Ancient Celtic Romances',
 "Bad Jobs: My Last Shift at Albert Wong's Pagoda and Other Ugly Tales of the Workplace",
 'Belladonna: A Novel of Revenge',
 'Black Boy (American Hunger : a Record of Childhood and Youth)',
 'CHINA WHITE',
 'Chicken Soup from the Soul of Hawaii: Stories of Aloha to Create Paradise Wherever You Are',
 'Critical Judgment',
 'Daydreams',
 'End of the Road',
 'FOR COLORED GIRLS WHO HAVE CONSIDERED SUICIDE WHEN THE RAINBOW IS ENUF',
 "Flying Hawaii : A Pilot's Guide to the Islands",
 "I'm the One That I Want",
 'Jaguars Ripped My Flesh: Adventure Is a Risky Business (Bantam New Fiction Series)',
 'Jennifer, Hecate, MacBeth, William McKinley and Me, Elizabeth',
 'Katwalk (Kat Colorado Mysteries)',
 'Keepers of the Earth Teachers Guide',
 'Modern Women',
 'Mr. Bridge',
 'Mrs. Mike',
 'Night Train to Memphis',
 'On a Street Called Easy, in a Cottage Called Joye',
 "Pooh's Workout Book",
 'Random Family: Love, Drugs, Trouble, and Coming of Age in the Bronx',
 'Send in the Stunt Mom: The Second Collection of Committed',
 'Show of Evil',
 'Suitable for Framing W/the Corpse Had a Familiar Face',
 'The Art Of Celtia',
 'The Bitch in the House : 26 Women Tell the Truth About Sex, Solitude, Work, Motherhood, and Marriage',
 'The Celts Activity Book',
 'The Corner : A Year in the Life of an Inner-City Neighborhood',
 "The Essential 55: An Award-Winning Educator's Rules for Discovering the Successful Student in Every Child",
 "The Shelters of Stone (Earth's Children, Book 5)",
 "The Simple Solution to Rubik's Cube",
 'The Tick: Mighty Blue Justice!',
 'The Traveler',
 'The Western way: A practical guide to the Western mystery tradition',
 'To Afghanistan and Back',
 'Truckers',
 'Wild Seed',
 'Wings',
 'Y2K'}

In [101]:
recommendations_for_user(278418)

 Recommended Books for User_id 278418 :

{'Beneath the Skin',
 'Cats Know Best (Pied Piper Paperbacks)',
 'How to Be a Financially Secure Woman',
 "Song of Solomon (Oprah's Book Club (Paperback))",
 'The Brothers Karamazov (Vintage Classics)',
 'The Panther Mystery (Boxcar Children Mysteries, 66)',
 'The Reef'}